<div class="col-md-12">
	<%= render "users/usernav" %>
	<hr />
	<div class="row preferences">
		<%= render "users/thumbs" %>
	</div>
</div>
<script>
$(document).ready(function() {
  return $('li#global_feed').addClass('active');
});
</script>