<div class="col-md-12">
	<%= render "users/usernav" %>
	<div class="row preferences">
		<%= render "users/thumbs" %>
	</div>
</div>
<script>
$(document).ready(function() {
  return $('.popular').addClass('btn-default active');
});
</script>