<div class="col-md-12">
	<%= render "usernav" %>
	<hr />
	<div class="row preferences">
		<%= render "thumbs" %>
	</div>
</div>
<script>
$(document).ready(function() {
  return $('li#my_rack').addClass('active');
});
</script>