@import "bootstrap";

// General 

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.3em;
  line-height: 1.7em;
}

// Table Formatting

// Bootstrap Customization

// Rackit Product Page

.dislike {
  text-color: red;
}

.like {
  text-color: green;
}

.thumb {
  margin-bottom: 5px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.thumb:hover {
  opacity: 0.95;
  filter: alpha(opacity=80);
}

.thumb_opacity {
  opacity: 1;
  filter: alpha(opacity=100);
}

.primary_image_container {
  padding-bottom: 10px;
}


.buy {
  margin-top: 15px;
}

.dislike, .like, .rackit {
  margin: 0px 10px 0px 10px;
  font-size: 1.5em;
}

// UPP Page

.racks {
  font-size: 0.9em;
  vertical-align: top;
}

.upp_unrack {
  text-align: right;
  padding-right: 10px;
  color: red;
  font-size: 1.4em;
}

.upp_unrack:hover {
  color: black;
}

.thumbnail {
  height: 475px;
}

.thumbnail:hover {
  background-color: #F0F0F0;
}

.row.preferences {
  margin-top: 10px;
}

.caption {
  text-align: center;
}

// Profile Page

// Table

#table {
  display: table;
  width: 100%;
}

.brow {
  display: table-row;
}

.trow {
  display: table-row;
}

.trow:hover {
  background-color: #FAFAFA;
}

.tcell {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding: 10px 15px;
}

// Friendships

.friend-follow-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 29px 29px 29px;
  margin: 0 auto 40px;
  background-color: #F0F0F0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.follow-button-width {
  width: 35%;
}

// Devise Forms

.border-form-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding: 29px 29px 29px;
  margin: 0 auto 40px;
  background-color: #F0F0F0;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}