<div class="preference_buttons btn-group btn-group-justified">
<!-- Dislike -->
	<div class="dislike btn-group" data-product-id="<%= @product.id %>">
		<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-remove"></span>
	</div>
<!-- Rackit -->
	<div class="rackit btn-group" data-product-id="<%= @product.id %>">
		<button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-heart"></span>
	</div>
<!-- Like -->
	<div class="like btn-group" data-product-id="<%= @product.id %>">
		<button type="button" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-ok"></span>
	</div>
</div>