	<div class="row">
		
		<div class="col-md-6 col-xs-12 product_images">
			<%= render "product_images" %>
		</div>

		<div class="col-md-6 col-xs-12">
			<%= render "preference_buttons" %>
			<%= render "product_information" %>
		</div>

	</div>