<div class="col-md-12">
	<div class="row">
		
		<div class="col-md-6 product_images">
			<%= render "product_images" %>
		</div>

		<div class="col-md-6">
			<%= render "preference_buttons" %>
			<%= render "product_information" %>
		</div>

	</div>
</div>